<div class="reviewFormContainer">
  <h1>{{currentMovieName}}</h1>
<form class="userReview">
  <mat-form-field appearance="fill">
    <mat-label>User Review</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</form>
<form class="userScore">
  <mat-form-field appearance="fill">
    <mat-label>User Score</mat-label>
    <mat-select>
      <mat-option value="1">1/10</mat-option>
      <mat-option value="2">2/10</mat-option>
      <mat-option value="3">3/10</mat-option>
      <mat-option value="4">4/10</mat-option>
      <mat-option value="5">5/10</mat-option>
      <mat-option value="6">6/10</mat-option>
      <mat-option value="7">7/10</mat-option>
      <mat-option value="8">8/10</mat-option>
      <mat-option value="9">9/10</mat-option>
      <mat-option value="10">10/10</mat-option>
    </mat-select>
  </mat-form-field>
  <button class="submitReview" mat-raised-button color="primary">Submit Review</button>
  <button class="Cancel" mat-raised-button color="primary" (click)="closeDialog()">Cancel</button>
  <mat-icon (click)="favorite()" class="favoriteIcon">favorite</mat-icon>
  <h4>{{dialogUserName}}</h4>
</form>
</div>
