<div class="searchedMovieContainer">
  <form>
    <mat-form-field class="wideSearch">
      <input class="wideSearch" type="search" name ="searchTextBox" [formControl]="searchTextBox" matInput placeholder="Search">
    </mat-form-field>
  </form>
  <div class="movieGrid" *ngIf="currentMovieInfo.id != ''">
    <div class="searchedMovie">
      <img *ngIf="currentMovieInfo.Poster != ''" [src]="currentMovieInfo.Poster" class="moviePoster" alt="">
    </div>
    <div class="movieInfo"><div *ngIf="currentMovieInfo.Plot != ''">{{currentMovieInfo.Plot}}</div></div>
    <div class="userReviews">
      <button class="reviewButton" mat-raised-button color="primary" (click)="openReviewDialogue()">Add Review</button>
    </div>
  </div>
</div>