.searchedMovieContainer{
    margin: 18px;
    height: 375px;
    background-color: #95afc0;
    outline: 2px solid black;
    padding-bottom: 20px;
}

.wideSearch{
    width: 100%;
    margin-right: 15px;
}

.movieGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    padding: 10px;
}

.searchedMovie{
    width: 300px;
    height: 300px;
    background-color: #95afc0;
    outline: 2px solid black;
}

.moviePoster{
    height: 100%;
    width: 100%;
}

.movieInfo{
    width: 300px;
    height: 300px;
    background-color: #95afc0;
    outline: 2px solid black;
    font-weight: bolder;
}

.userReviews{
    width: 300px;
    height: 300px;
    background-color: #95afc0;
    outline: 2px solid black;
    position: relative;
    font-weight: bolder;
}

.reviewButton{
    position: absolute;
    bottom: 0;
    left: 0;
}
