/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(80, 100, 110);
  align-items: center;
}

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: 'Rock Salt';
  src: url('./assets/fonts/RockSalt.ttf')
}